---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        <ul>  <!-- Start unordered list -->
        {% assign title_shown = true %}
      {% endunless %}
      <li>
        <strong><a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a></strong><br>
        {% if post.citation %}
          {{ post.citation | split: "." | first | markdownify }}<br>
        {% endif %}
        {{ post.excerpt }}
      </li>
    {% endfor %}
    </ul>  <!-- End unordered list -->
  {% endfor %}
{% else %}
  <ul>  <!-- Start unordered list -->
  {% for post in site.publications reversed %}
    <li>
      <strong><a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a></strong><br>
      {% if post.citation %}
        {{ post.citation | split: "." | first | markdownify }}<br>
      {% endif %}
      {{ post.excerpt }}
    </li>
  {% endfor %}
  </ul>  <!-- End unordered list -->
{% endif %}
